<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../public/css/styles.css">


</head>


<div class="navbar">
  <h1>Manga Store</h1>

  {{#if user}}
    <p>Hola, {{user.first_name}}!</p>
    <form action="/auth/logout" method="POST" style="display:inline;">
      <button type="submit">Cerrar sesión</button>
    </form>
  {{else}}
    <a href="/login">Iniciar sesión</a>
    <a href="/register">Registrarse</a>
  {{/if}}
</div>



<body>

    <div class="navbar">
        <h1>Bienvenido a tu tienda de Mangas</h1>


        <div style="margin-bottom: 20px;">
            <a href="/cart"
                style="padding: 10px 20px; background-color: black; color: white; text-decoration: none; border-radius: 5px;">
                🛒 Ver Carrito
            </a>
        </div>
    </div>

    <p class="sectionText">Esta es la vista de inicio.</p>

    <div class="products-container">
        {{#each products}}
        <div class="home-products">
            <h3>{{this.name}}</h3>
            <img src="{{this.image}}" alt="{{this.name}}" width="200" />
            <p>{{this.description}}</p>
            <p> Categoria: {{this.category}} </p>
            <p>Precio: ${{this.price}}</p>
            <p>Stock disponible: {{this.stock}}</p>
            <a href="/cart/add/{{this._id}}">Agregar al carrito</a>
        </div>
        {{/each}}
    </div>
</body>

</html>